.link:before {
  content: "";
  background: {{color-experience}};
  position: absolute;
  width: 100%;
  height: 0.189rem;
  bottom: 0;
  transform: scaleX(0);
  animation: 0.6s forwards no-hover-v ease;
  animation-fill-mode: forwards;
  z-index: -1;
}

.bullet:hover .bullet-text,
.section:hover {
  color: {{color-dark-dark-gray}};
}

.bullet:hover .link:before,
.section:hover .link:before {
  animation: .4s forwards hover-v ease;
  animation-fill-mode: forwards;
}

.section:hover {
  /*padding-top: 0.3rem;*/
}

.bullet {
  transition: all 0.5s ease;
  display: inline-block;
  padding-right: 0.63rem;
  position: relative;
}

.bullet:before {
  content: "";
  background: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.315rem;
  bottom: 0;
  z-index: -1;
  transition: all 0.5s ease;
}

.bullet:hover {
  padding-left: 0.63rem;
}

@keyframes hover-v {
  0% {
    transform: scaleX(0);
  }
  52% {   
    transform: scaleX(1.1);
  }
  55% {
  }
  100% {
    transform: scaleX(1.05);
  }
}
