{{responsive.css}}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.section {
  {{font-serif.css}}
  text-align: center;
  display: inline-block;
  font-size: 1.764rem;
  width: 10.836rem;
  letter-spacing: 0.2646rem;
  cursor: pointer;
  transition: all 0.4 ease;
}

.header-name {
  text-align: center;
}

.logo {
  display: inline-block;
}

.logo img {
  margin-left: -6.7rem;
  margin-top: 3.213rem;
  width: 2.4rem;
}

.name {
  display: inline-block;
  margin-left: -0.7rem;
}

.name img {
  padding-bottom: 0.126rem;
  width: 28.98rem;
}

.header-section {
  text-align: center;
  margin-top: 0.315rem;
  color: {{color-gray}};
}

.content {
  text-align: center;
  margin-top: 2.142rem;
}

.subcontent {
  display: inline-block;
  text-align: left;
  width: 29.862rem;
}

.subheader {
  {{font-sans.css}}
  color: {{color-light-gray}};
  font-size: 2.52rem;
  font-weight: 300;
  letter-spacing: 0.2835rem;
}

.list {
  margin-left: 1.26;
  margin-top: 0.63rem;
  margin-bottom: 1.701rem;
  list-style: none;
}

.bullet {
  margin-bottom: 0.252rem;
  cursor: pointer;
  color: {{color-gray}};
  padding-top: 0.26rem;
  padding-bottom: 0.315rem;
  display: block;
}

.bullet-image {
  display: inline-block;
  width: 3.15rem;
  text-align: right;
  margin-right: 1.512rem;
  vertical-align: middle;
}

.link {
  position: relative;
  display: inline-block;
}

.bullet-text {
  {{font-serif.css}}
  vertical-align: middle;
  font-size: 2.079rem;
}

{{animate.css}}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 29.61rem;
  margin-top: 0.882rem;
}

.footer hr {
  border: solid {{color-gray}} 0.063rem;
}

.footer-icons {
  text-align: right;
}

.footer-icons [class^="icon-"] {
  margin-right: 1.5rem;
  vertical-align: middle;
  color: {{color-gray}};
  cursor: pointer;
  transition: all 0.4s ease;
}

.footer-icons [class^="icon-"]:hover {
  color: {{color-experience}};
}

.footer-copyright {
  display: inline-block;
  {{font-sans.css}}
  font-weight: 300;
  font-size: 1.134rem;
  margin-right: 0.441rem;
  letter-spacing: 0.0945rem;
  vertical-align: middle;
  color: {{color-gray}};
}

.copy {
  color: {{color-light-gray}};
}

{{font-icon.css}}

{{temporary.css}}