.section {
  font-family: "adobe-garamond-pro", "Adobe Garamond Pro", serif;
  text-align: center;
  display: inline-block;
  font-size: 28px;
  width: 172px;
  letter-spacing: 4.2px;
}

.header-name {
  text-align: center;
}

.logo {
  display: inline-block;
}

.logo img {
  margin-left: -95px;
  margin-top: 51px;
}

.name {
  display: inline-block;
  margin-left: -12px;
}

.name img {
  padding-bottom: 2px;
}

.header-section {
  text-align: center;
  margin-top: 5px;
  color: #6D6E71;
}

.content {
  text-align: center;
  margin-top: 34px;
}

.subcontent {
  display: inline-block;
  text-align: left;
  width: 474px;
}

.subheader {
  font-family: "lato", "Lato", sans-serif;
  color: #A09F9F;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 4.5px;
}

.list {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 27px;
  list-style: none;
}

.bullet {
  font-family: "adobe-garamond-pro", "Adobe Garamond Pro", serif;
  margin-bottom: 4px;
  margin-left: -20px;
  cursor: pointer;
  color: #6D6E71;
  padding-top: 3px;
  padding-bottom: 5px;
}

.bullet-image {
  display: inline-block;
  width: 50px;
  text-align: right;
  margin-right: 24px;
  vertical-align: middle;
}

.bullet-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 33px;
  position: relative;
}

.bullet-text:before {
  content: "";
  /*background: #A09F9F;*/
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  /*border-radius: 5px;*/
  transform: scaleX(0);
  animation: 0.6s forwards no-hover-v ease;
  animation-fill-mode: forwards;
  z-index: -1;
}

.bullet.coding .bullet-text:before {
  background: #0D579B;
}

.bullet.music .bullet-text:before {
  background: #984120;
}

.bullet.writing .bullet-text:before {
  background: #FBA919;
}

.bullet.design .bullet-text:before {
  background: #00646E;
}

.bullet.projects .bullet-text:before {
  background: #834C9E;
}

.bullet.experience .bullet-text:before {
  background: #FF7700;
}

.bullet.hobbies .bullet-text:before {
  background: #ED1C24;
}

.bullet.accent .bullet-text:before {
  background: #EF7A22;
}

.bullet.coding:hover {
  color: #0D579B;
}

.bullet.music:hover {
  color: #984120;
}

.bullet.writing:hover {
  color: #FBA919;
}

.bullet.design:hover {
  color: #00646E;
}

.bullet.projects:hover {
  color: #834C9E;
}

.bullet.experience:hover {
  color: #FF7700;
}

.bullet.hobbies:hover {
  color: #ED1C24;
}

.bullet.accent:hover {
  color: #EF7A22;
}

.bullet:hover .bullet-text:before,
.bullet:focus .bullet-text:before {
  animation: .4s forwards hover-v ease;
  animation-fill-mode: forwards;
}

.bullet {
  transition: all 0.5s ease;
  display: inline-block;
  padding-right: 10px;
  position: relative;
}

.bullet:before {
  content: "";
  background: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  bottom: 0;
  z-index: -1;
  transition: all 0.5s ease;
}

/*.bullet:hover:before {
  background: #F3F3F3;
}*/

.bullet:hover {
  padding-left: 10px;
}

@keyframes hover-v {
  0% {
    transform: scaleX(0);
    height: 3px;
  }
  52% {   
    transform: scaleX(1.1);
    height: 3px;
  }
  55% {
    height: 3px;
  }
  100% {
    transform: scaleX(1.05);
    height: 3px;
  }
}


.footer {
  margin-left: auto;
  margin-right: auto;
  width: 470px;
  margin-top: 14px;
}

.footer hr {
  border: solid #6D6E71 1px;
}

.footer-icons {
  text-align: right;
}

.footer img {
  margin-right: 45px;
  vertical-align: middle;
}

.footer-copyright {
  display: inline-block;
  font-family: "lato", "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-right: 7px;
  letter-spacing: 1.5px;
  vertical-align: middle;
  color: #6D6E71;
}

.copy {
  color: #A09F9F;
}

@font-face {
  font-family: 'df';
  src: url('fonts/df.eot?hzhpcv');
  src: url('fonts/df.eot?hzhpcv#iefix') format('embedded-opentype'), url('fonts/df.ttf?hzhpcv') format('truetype'), url('fonts/df.woff?hzhpcv') format('woff'), url('fonts/df.svg?hzhpcv#df') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'df' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 33px;
  width: 55px;
  height: 33px;
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {
  display: block;
  position: absolute;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  opacity: 0.646;
}

.icon-coding:before {
  content: "\e900";
}
.icon-coding:after {
  content: "\e901";
}
.icon-music:before {
  content: "\e908";
}
.icon-music:after {
  content: "\e909";
}
.icon-writing:before {
  content: "\e90c";
}
.icon-writing:after {
  content: "\e90d";
}
.icon-design:before {
  content: "\e902";
}
.icon-design:after {
  content: "\e903";
}
.icon-projects:before {
  content: "\e90a";
}
.icon-projects:after {
  content: "\e90b";
}
.icon-experience:before {
  content: "\e904";
}
.icon-experience:after {
  content: "\e905";
}
.icon-hobbies:before {
  content: "\e906";
}
.icon-hobbies:after {
  content: "\e907";
}

.background-red {
  text-align: center;
}

.background-red img {
  position: fixed;
  left: 20%;
  width: 60%;
  opacity: 0.6;
}